

html {
  position: relative;
  min-height: 100%;
}

body {
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    height:100vh;
}
.navbar {
    background-color: rgba(141, 59, 54, 1);
    margin-bottom: 1px;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    height: 6vh;
}
.NameGroupImg{
    height:30px;
}
.NameLaptop {
    margin-right:20px;
    font-size: 15px;
    color: white;
    font-family: Diplomata;
    font-weight:bolder;
}
/*---------------------------------------------------------------------------*/
.main-center {
    position: relative;
    width: 100%;
    border: 1px solid black;
    background-color: aqua;
    height: 93vh;
  
}
.center{
    float:left;
   
}/*-------------------------------------------------------------------------*/
.center:nth-child(1) {
        width: 12%;
        height: 94vh;
        border: 1px solid white;
        background-image: linear-gradient(rgba(141, 59, 54, 1), rgba(9, 3, 45, 1));
        display: flex;
        flex-direction: column;
        align-items:center;
}

.Logonet {
    margin-top: 20px;
    height: 100px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
.menu-service {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 40px;
    width: 100%;
    border: 1px solid white;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
.icon{
    margin-top:1px;
    font-size:25px;
    color:white;
    margin-right:5px;
    font-weight:bolder;
}

.frame-contact {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    position: fixed;
    display:flex;
    justify-content:center;
    align-items:center;
    bottom: 40px;
}
@keyframes motion {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);  
}

    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);  
}

    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
    }
}

.frame-contact{
    animation: motion 1s infinite; 
    border: 2px solid rgba(255, 255, 255, 0.5); 

}
.icon-contact
{
    color:white;
    font-size:30px;
}
.font-support {
    position: fixed;
    bottom:8px;
    color:white;
    font-weight:bolder;
    font-size:14px;
}
/*-------------------------------------------------------------------------*/
.center:nth-child(2) {
    width: 71%;
    height: 94vh;
    border: 1px solid white;
    background-image: linear-gradient(rgba(141, 59, 54, 1), rgba(9, 3, 45, 1));
}

/*-------------------------menu-----------------------*/
.frame-menu {
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 50px;
    width: 100%;
    border: 1px solid white;
}


.slider-banner {
    box-shadow: 0 0 20px #0b0b65;
}
.btn
{
    font-size:15px;
    font-weight:bolder;
}
.btn {
    box-shadow: 0 0 20px #0b0b65;
}
.icon-menu {
    color:black;
    margin-right:5px;
    font-size: 15px;
}
.search
{
    display:flex;
    height:30px;
    width:300px;
    justify-content:center;
    align-items:center;
    border:1px solid white;
    background-color:white;
    border-radius:3px;
}
.search:hover {
        box-shadow: 0 0 20px #0b0b65;
 }

.input-search
{
    width:269px;
    border:none;
}
.input-search:focus {
        border: none;
        outline: none;
}

.icon-search {
    font-size: 30px; 
}

/*------------------------------------------------------------------------------------------------------------------*/
/*                                                                                                                  */
/*------------------------------------------------------------------------------------------------------------------*/
.center:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17%;
    height: 94vh;
    border: 1px solid white;
    background-image: linear-gradient(rgba(141, 59, 54, 1), rgba(9, 3, 45, 1));
}
.login-register
{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:20px;
    font-size:15px;
    height:30px;
    width:90%;
    border:1px solid white;
    color:white;
    font-weight:bolder;
}

/* Create a keyframe animation flicker */
@keyframes glow {
    0% {
        outline: 2px solid rgba(255, 255, 255, 0.5); /* Begin with a border blur */
    }

    50% {
        outline: 2px solid rgba(255, 255, 255, 1); /* Next a border bright*/
    }

    100% {
        outline: 2px solid rgba(255, 255, 255, 0.5); /* End a border blur different */
    }
}

/*  */
.login-register {
    animation: glow 1s infinite;
    outline: 3px solid rgba(255, 255, 255, 0.5); /* Border initial */
}
/*-----------------------------------------------------------------------------------------------*/
.menu-history-cart {
    display: flex;
    justify-content: space-around;
    height:30px;
    width:100%;
    border: 1px solid white;
    color:white;
    font-weight:bolder;
}
/*---------------------------------------------------------------------------------------------*/
.frame-cart-chat {
    display: flex;
    width: 17%;
    height: 50px;
    position: fixed;
    bottom: 0;
    border: 1px solid white;
    justify-content: space-around;
    align-items:center;
}
.select-cart {
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    font-weight: bolder;
}
/*.select-cart:focus, .select-cart:hover {
    border: 1px solid white;
 }*/
.select-chat {
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    font-weight:bolder;
}
.icon-cart-chat
{
   font-size:20px;
}

