@{
    Layout = "_AdminLayout";
}
<!-- <button type="button" class="btn btn-outline-light btn-function btn-lg">
              <span class="font-size-lg">  Sử dụng lớp để tăng kích thước chữ
                <iconify-icon class="icon_mar" icon="bx:home"></iconify-icon> Trang Chủ
              </span>
            </button>
            <button type="button" class="btn btn-outline-light btn-function btn-lg">
              <span class="font-size-lg">  Sử dụng lớp để tăng kích thước chữ
                <iconify-icon class="icon_mar" icon="uil:food"></iconify-icon></iconify-icon> Quản Lý Đặt Món
              </span>
            </button>
            <button type="button" class="btn btn-outline-light btn-function btn-lg">
              <span class="font-size-lg">  Sử dụng lớp để tăng kích thước chữ
                <iconify-icon class="icon_mar" icon="uis:history"></iconify-icon></iconify-icon>Lịch Sử
              </span>
            </button>
            <button type="button" class="btn btn-outline-light btn-function btn-lg">
              <span class="font-size-lg">  Sử dụng lớp để tăng kích thước chữ
                Báo Cáo
              </span>
            </button> -->
            <!-- Content -->
            <div class="column">
                <div data-simplebar="init" class="content-body">
                    <div class="simplebar-wrapper" style="margin: -25px;">
                        <div class="simplebar-height-auto-observer-wrapper">
                            <div class="simplebar-height-auto-observer"></div>
                        </div>
                        <div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden;">
                                    <div class="simplebar-content" style="padding: 25px;">
                                        <div class="pd-x-0 container-fluid">
                                            <div class="row-xs mg-b-10 row">
                                                <div class="col">
                                                    <div class="row-xs mg-b-10 row">
                                                        <div class="col-xl-6 col-lg-6">
                                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                                <h5 class="mg-t-100 tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20">Chào mừng bạn đến với 6-Turtle!</h5>
                                                                <p class="tx-color-03 tx-center mg-b-10">Nếu bạn là chủ phòng máy, xin vui lòng liên hệ với chúng tôi để được hướng dẫn sử dụng và kích hoạt 6-Turtle cho phòng máy của mình.</p>
                                                                <p class="tx-color-03 tx-center mg-b-30">Nếu bạn là nhân viên, hãy liên hệ với chủ phòng máy để được cấp quyền sử dụng 6-Turtle. <em class="tx-gray-800">Vui lòng đăng xuất và đăng nhập lại sau khi được chủ phòng máy cấp quyền.</em></p>
                                                                <div class="tx-center mg-b-10">
                                                                    <a target="_blank" rel="noopener noreferrer" href="/">
                                                                        <img src="Image/Svg/ios-download.svg" alt="ios" style="height: 60px;">
                                                                    </a>
                                                                    <a target="_blank" rel="noopener noreferrer" href="/">
                                                                        <img src="Image/Svg/chPlay.svg" alt="android" style="height: 60px;">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-6 col-lg-6">
                                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                                <div class="wd-70p wd-sm-250 wd-lg-350 mg-b-15">
                                                                    <img src="Image/hello.png" class="img-fluid" alt="Chào mừng đến với GCMenu">
                                                                    <div class="divider-text">LIÊN HỆ VỚI CHÚNG TÔI QUA</div>
                                                                    <div class="d-flex flex-column align-items-center">
                                                                        <p class="mg-b-10 d-flex align-items-center" style="font-size: 16px;">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-info mg-r-4">
                                                                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                                                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                                                            </svg>
                                                                            <a class="text-info" href="/" target="_blank" rel="noopener noreferrer">Trang Chủ</a>
                                                                        </p>
                                                                        <p class="mg-b-10 d-flex align-items-center" style="font-size: 16px;">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-danger mg-r-4">
                                                                                <path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                                                                            </svg>
                                                                            <a class="text-danger" href="/" target="_blank" rel="noopener noreferrer">0942 230 189</a>
                                                                        </p>
                                                                        <p class="mg-b-10 d-flex align-items-center" style="font-size: 16px;">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-primary mg-r-4">
                                                                                <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                                                                                <line x1="8" y1="12" x2="16" y2="12"></line>
                                                                            </svg>
                                                                            <a class="text-primary" href="/" target="_blank" rel="noopener noreferrer">Facebook</a>
                                                                        </p>
                                                                        <p class="mg-b-0 d-flex align-items-center" style="font-size: 16px;">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-primary mg-r-4">
                                                                                <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                                                                                <line x1="8" y1="12" x2="16" y2="12"></line>
                                                                            </svg>
                                                                            <a class="text-primary" href="/" target="_blank" rel="noopener noreferrer">Zalo</a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="simplebar-placeholder" style="width: auto; height: 494px;"></div> -->
            </div>

            <!-- Khung Chat-->
            <div class="column">
                <div class="chat-container chat-expand">
                    <button class="btn btn-xs btn-icon chat-toggle btn-primary chat-expand">
                        GG Chat
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="7 13 12 18 17 13"></polyline>
                            <polyline points="7 6 12 11 17 6"></polyline>
                        </svg>
                    </button>
                    <div>
                        <div class="tx-center">
                            <h1>GGChat</h1><p>Tạo phòng máy để bắt đầu trò chuyện!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="global-toast--container global-toast--container--bottom-right"></div>
            
