@{
    Layout = "_AdminLayout";
}
<!-- <button type="button" class="btn btn-outline-light btn-function btn-lg">
              <span class="font-size-lg">  Sử dụng lớp để tăng kích thước chữ
                <iconify-icon class="icon_mar" icon="bx:home"></iconify-icon> Trang Chủ
              </span>
            </button>
            <button type="button" class="btn btn-outline-light btn-function btn-lg">
              <span class="font-size-lg">  Sử dụng lớp để tăng kích thước chữ
                <iconify-icon class="icon_mar" icon="uil:food"></iconify-icon></iconify-icon> Quản Lý Đặt Món
              </span>
            </button>
            <button type="button" class="btn btn-outline-light btn-function btn-lg">
              <span class="font-size-lg">  Sử dụng lớp để tăng kích thước chữ
                <iconify-icon class="icon_mar" icon="uis:history"></iconify-icon></iconify-icon>Lịch Sử
              </span>
            </button>
            <button type="button" class="btn btn-outline-light btn-function btn-lg">
              <span class="font-size-lg">  Sử dụng lớp để tăng kích thước chữ
                Báo Cáo
              </span>
            </button> -->
            <!-- Content -->
            <div class="column">
                <div data-simplebar="init" class="content-body">
                    <div class="simplebar-wrapper" style="margin: -25px;">
                        <div class="simplebar-height-auto-observer-wrapper">
                            <div class="simplebar-height-auto-observer"></div>
                        </div>
                        <div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden;">
                                    <div class="simplebar-content" style="padding: 25px;">
                                        <div class="pd-x-0 container-fluid">
                                            <div class="row-xs mg-b-10 row">
                                                <div class="col">
                                                    <div class="row-xs mg-b-10 row">
                                                        <div class="col-xl-6 col-lg-6">
                                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                                <h5 class="mg-t-100 tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20">Chào mừng bạn đến với 6-Turtle!</h5>
                                                                <p class="tx-color-03 tx-center mg-b-10">Nếu bạn là chủ phòng máy, xin vui lòng liên hệ với chúng tôi để được hướng dẫn sử dụng và kích hoạt 6-Turtle cho phòng máy của mình.</p>
                                                                <p class="tx-color-03 tx-center mg-b-30">Nếu bạn là nhân viên, hãy liên hệ với chủ phòng máy để được cấp quyền sử dụng 6-Turtle. <em class="tx-gray-800">Vui lòng đăng xuất và đăng nhập lại sau khi được chủ phòng máy cấp quyền.</em></p>
                                                                <div class="tx-center mg-b-10">
                                                                    <a target="_blank" rel="noopener noreferrer" href="/">
                                                                        <img src="Image/Svg/ios-download.svg" alt="ios" style="height: 60px;">
                                                                    </a>
                                                                    <a target="_blank" rel="noopener noreferrer" href="/">
                                                                        <img src="Image/Svg/chPlay.svg" alt="android" style="height: 60px;">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-6 col-lg-6">
                                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                                <div class="wd-70p wd-sm-250 wd-lg-350 mg-b-15">
                                                                    <img src="Image/hello.png" class="img-fluid" alt="Chào mừng đến với GCMenu">
                                                                    <div class="divider-text">LIÊN HỆ VỚI CHÚNG TÔI QUA</div>
                                                                    <div class="d-flex flex-column align-items-center">
                                                                        <p class="mg-b-10 d-flex align-items-center" style="font-size: 16px;">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-info mg-r-4">
                                                                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                                                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                                                            </svg>
                                                                            <a class="text-info" href="/" target="_blank" rel="noopener noreferrer">Trang Chủ</a>
                                                                        </p>
                                                                        <p class="mg-b-10 d-flex align-items-center" style="font-size: 16px;">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-danger mg-r-4">
                                                                                <path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                                                                            </svg>
                                                                            <a class="text-danger" href="/" target="_blank" rel="noopener noreferrer">0942 230 189</a>
                                                                        </p>
                                                                        <p class="mg-b-10 d-flex align-items-center" style="font-size: 16px;">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-primary mg-r-4">
                                                                                <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                                                                                <line x1="8" y1="12" x2="16" y2="12"></line>
                                                                            </svg>
                                                                            <a class="text-primary" href="/" target="_blank" rel="noopener noreferrer">Facebook</a>
                                                                        </p>
                                                                        <p class="mg-b-0 d-flex align-items-center" style="font-size: 16px;">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-primary mg-r-4">
                                                                                <path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
                                                                                <line x1="8" y1="12" x2="16" y2="12"></line>
                                                                            </svg>
                                                                            <a class="text-primary" href="/" target="_blank" rel="noopener noreferrer">Zalo</a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="simplebar-placeholder" style="width: auto; height: 494px;"></div> -->
            </div>

            <!-- Khung Chat-->
            <div class="column">
                <div class="chat-container chat-expand">
                    <button class="btn btn-xs btn-icon chat-toggle btn-primary chat-expand">
                        GG Chat
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="7 13 12 18 17 13"></polyline>
                            <polyline points="7 6 12 11 17 6"></polyline>
                        </svg>
                    </button>
                    <div>
                        <div class="tx-center">
                            <h1>GGChat</h1><p>Tạo phòng máy để bắt đầu trò chuyện!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="global-toast--container global-toast--container--bottom-right"></div>
            <!-- Modal Thông tin máy -->
            <!-- <div class="modal fade js-com-modal" id="comInfoModal" aria-hidden="true" aria-labelledby="comInfoModal"
              tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content dangky-div">
                  <div class="modal-content-border"></div>
                  <div>
                    <p class="modal-h">Tên Máy</p>
                    <button type="button" class="btn-close com-info-close modal-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
                  </div>
                  <div class="modal-b">
                    <p>Trạng Thái: Đang hoạt động/ Ngỉ</p>
                    <p>Tài khoản đang sử dụng:</p>
                    <div>
                      <div class="row rounded-pill">
                        <div class="col-md-3 rounded-start text-end col-title">User:</div>
                        <div class="col rounded-end col-content">1234fjsh</div>
                      </div>
                      <div class="row rounded-pill">
                        Lấy dữ liệu user, pass từ csdl
                        <div class="col-md-3 rounded-start text-end col-title">Pass:</div>
                        <div class="col rounded-end col-content">1234fjsh</div>
                      </div>
                    </div>
                    <p>Thời gian hoạt động: 30p/ 1h50p</p>
                  </div>
                  <div class="modal-f">
                    <button type="button" class="btn btn-outline-light" data-bs-target="#stopActiveModal"
                      data-bs-toggle="modal" data-bs-dismiss="modal" style="width: 200px; margin-right: 5px;">Ngưng
                      chạy</button>
                    <button type="button" class="btn btn-outline-light" style="width: 200px; margin-left: 5px;">Lưu thay
                      đổi</button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- Modal xác nhận ngừng hoạt động của máy -->
            <!-- <div class="modal fade js-stop-active-modal" id="stopActiveModal" aria-hidden="true"
              aria-labelledby="stopActiveModal" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content ">
                  <div class="modal-content-border"></div>
                  <div>
                    <p class="modal-h">XÁC NHẬN MÁY NVHP-01 NGƯNG HOẠT ĐỘNG</p>
                    <button type="button" class="btn-close stop-active-close modal-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
                  </div>
                  <div class="col">
                    <div class="row rounded">
                      <button type="button" class="btn-lg color-yes" style="border-radius: 8px; border: #fff;">
                        <iconify-icon icon="dashicons:yes-alt"></iconify-icon>
                        XÁC NHẬN
                      </button>
                    </div>
                    <div class="row rounded" style="border-radius: 8px; border: #fff;">
                      <button type="button" class="btn-lg color-no" style="border-radius: 8px; border: #fff;">
                        <iconify-icon icon="healthicons:no"></iconify-icon>
                        HỦY
                      </button>
                    </div>
                  </div>
                </div>
              </div> -->
            <!-- Viết JavaScript cho modal Thông tin máy -->
            <!-- <script>
              const comInfoCards = document.querySelectorAll('.js-computer-info');
              const comInfoModal = new bootstrap.Modal(document.getElementById('comInfoModal'));
              const stopActiveModal = new bootstrap.Modal(document.getElementById('stopActiveModal'));
              const comInfoCloseButton = document.querySelector('.com-info-close');
              const stopActiveCloseButton = document.querySelector('.stop-active-close');
              const modalBackdrop = document.querySelector('.modal-backdrop');

              for (const comInfoCard of comInfoCards) {
                comInfoCard.addEventListener('click', function () {
                  comInfoModal.show();
                });
              }

              comInfoCloseButton.addEventListener('click', function () {
                comInfoModal.hide();
              });

              stopActiveCloseButton.addEventListener('click', function () {

                stopActiveModal.hide();
              });
              if (modalBackdrop) {
                // Ẩn modal backdrop
                modalBackdrop.classList.remove('show');
              }

              // document.addEventListener("DOMContentLoaded", function () {
              //   const computerName = document.getElementById("computer01");
              //   const xacNhanButton = document.querySelector(".color-yes");

              //   xacNhanButton.addEventListener("click", function () {
              //     // Thay đổi màu văn bản "NHVP-01" sang màu trắng (#ffffff)
              //     computerName.style.color = "#ffffff";
              //   });
              // });

              // SỐ thông báo của phản hồi khách hàng
              let numberOfNotifications = 0; // Thay đổi số này để thử nghiệm

              // Thay đổi số lượng thông báo
              function changeNotificationCount(newCount) {
                numberOfNotifications = newCount;
                // Cập nhật số lượng thông báo
                document.querySelector('.notification-count').textContent = numberOfNotifications;
                // Hiển thị hoặc ẩn .notification-count dựa trên số lượng thông báo
                const notificationCountElement = document.querySelector('.notification-count');
                if (numberOfNotifications > 0) {
                  notificationCountElement.style.display = 'block';
                } else {
                  notificationCountElement.style.display = 'none';
                }
              }
              // Gọi hàm để thay đổi số lượng thông báo
              changeNotificationCount(3); // Thay đổi số này để kiểm tra
            </script> -->
